<ion-header>
  <ion-toolbar>
    <ion-title>To Do list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Task Name</ion-label>
    <ion-input placeholder="Enter Task Name"[(ngModel)]= "input"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="full" (click)="addListItem(input)" [disabled]="!input">Add</ion-button>  

  <br>
  <ion-list>
    <ion-item *ngFor="let item of listItems" [class.done] = "item.status">
      <ion-buttons slot="start">
        <ion-checkbox color="secondary" [checked]="item.status" (ionChange)="changeItemStatus(item.id)"></ion-checkbox>
      </ion-buttons>
    <ion-label>{{item.taskName}}</ion-label>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)= "deleteItem(item.id, item.taskName)" *ngIf = "item.status">
        <ion-icon name="close"></ion-icon>
      </ion-button>
   </ion-buttons>
  </ion-item>
  </ion-list>


  <ion-item> 
    <!--<ion-label><ion-checkbox  (ionChange)="checkAllTasks()"></ion-checkbox>Check All</ion-label> -->
    <ion-label class="alignRight">{{taskRemaining()}} tasks left</ion-label>
  </ion-item>

  <!-- <ion-button size="small" color="danger" (click)= "clearCompletedTask()" *ngIf = "atLeastOneTaskCompleted()">Clear Completed</ion-button> -->
 
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button (click)= "clearCompletedTask()" *ngIf = "atLeastOneTaskCompleted()"> 
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->


</ion-content>
